<h1>Help</h1>
<p>
	Get help on this Page
	<a href="http://railstutorial.org/help">Rails Tutorial</a>
	To get help on this sample app, see the
	<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>