<p>
	<h1>Sample ! </h1>
	This is the home page for Kevin!
	<a href="http://railstutorial.org/"> Tutorial</a>
	sample application.
</p>

<%= link_to "Sing up now!", '#', :class => "signup_button round" %>